
.content_nav{
   display: flex;
   width: 100%;
   margin-top: 20px;
   justify-content: space-around;
   
}
.button{
  width: 70px;
  height: 40px;
  box-shadow: inset;
  border-radius: 10px;
  color: white;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
  
    &__uno{
      background: $html;
      &:hover{
        background: $htmlO
      }
    }
    &__dos{
      background: $css;
       &:hover{
        background: $cssO
      }
    }
    &__tres{
      background: $js;
       &:hover{
        background: $jsO
      }
    }
}
