#admin{
  font-family: 'Arvo', serif;

}
.drawer{
  position: absolute;
  left: 0;
  background-color: $base;
  height: 100vh;
  width: 250px;
  padding: 15px 30px 94px 30px ;
  h1{
    margin-bottom: 30px;
    color: white;
  }
  ul{
    height: 95%;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    padding-bottom: 20px;
    list-style: none;
    // justify-content: space-around;
    a{
      border : none;
      text-decoration: none;
    }
    li{
      color: white;
      font-size: 18px;
      margin-bottom: 15px;
      
      cursor: pointer;
      i{
        margin-right: 10px;
        color: black;
      }
      &:hover{
        color: $js;
      }
    }
  }
}

#tech_img{
  width: 60px;
  text-align: center;
}

#tech_used{
  width: 20px;
  margin-left: 10px;
}
#project_img{
  width: 300px;
  margin-bottom: 10px;
}
.main__admin{
  // margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 250px;
  // left: 250px;
  width:calc( 100vw - 250px);
  height: 100vh;
  padding: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.form__project{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border: 1px solid gray;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  h1{
    text-align: center;
  }
  label{
    margin-left: 5px;
  }
  textarea{
    width: 100%;
    height: 70px;
  }
input[type="file"]{
   
  width: 100%;
  
  }

}
.content__admin__projects{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
   height: 100vh;
  
}
.content__card{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-right: 5px;
  
  // border: 1px solid red;
 
  button{
    width: 30px;
    cursor: pointer;
    // border: 1px solid red;
    border-radius: 10px;

  }
}
.content_projects_admin{
  display: flex;
  flex-wrap: wrap;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-y: scroll;
  
}
.project__card{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  // border: 1px solid $htmlO;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
 box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  &:hover{
    transform: scale(1.1);
  }
  
}
.toppings-list{
  list-style: none;
  margin: 20px 0;
  display: flex;
    width: 400px;

  justify-content: space-between;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  li{
    width: 200px;
  }
}