.content_projects {
  @include contents;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s ease;

  @include media-up(lg) {
    overflow: hidden;
  }
  .grid_projects {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    @include media-up(md) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      width: 80%;
    }
    @include media-up(lg) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .content_projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    h1 {
      color: white;
      text-align: center;
      margin-bottom: 0;
    }
    img {
      text-align: center;
      width: 50px;
      cursor: pointer;
      @include media-up(lg) {
        width: 70px;
      }
    }
  }
}
#matrix {
  display: flex;
  justify-content: center;
  li{
    img{
      width: 27px;
    }
  }
  img {
    width: 70%;
    @include media-up(lg) {
      width: 50%;
    }
  }
}

.content_project {
  width: 100%;
  height: 250px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  display: flex;
  position: relative;

  &:hover {
    .info_project {
     background: rgba(0, 0, 0, 0.418);
     display: initial;
    }
    
  }
  .info_project {
    
    // background-color: black;
    // opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    // display: flex;
    padding: 20%;
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 3;
    h1 {
      color: white;
      text-align: center;
    }

    .info_project_enlaces {
      display: flex;
      margin-top: 20px;
      justify-content: space-around;
      a {
        color: white;

        &:hover {
          color: $react;
          font-weight: bold;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
}
.tecnologias{
  display: flex;
  height: 30px;
  background: rgba(0, 0, 0, 0.89);
  z-index: 99999;
  max-width: 50%;
  justify-content: space-around;
  padding:0  10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  position: absolute;
  // border: 1px solid gray;
  border-radius: 5px 10px;
  top: 10px;
  right: 10px;
  text-decoration: none;
  list-style: none;
  img{
    margin: 2px 3px;
    width: 27px;
    cursor: default ;
  }
}
.navigation {
  display: flex;
  position: fixed;
  top: 70px;
  z-index: 9999999;
  width: 100%;
  justify-content: space-around;
  @include media-up(md) {
    position: absolute;
    top: initial;
    bottom: 0;
    width: 50%;
    // bottom: 0;
  }

  i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: $jsO;
    }
  }
}

.content_projects_nav {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  left: 0;
  right: 0;

  width: 100%;
  @include media-up(lg) {
    margin: auto;
    width: 40%;
    bottom: 30px;
  }
}
