@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import-normalize;

$primary :#451143;
$secondary : #161b41;
$base : rgba(240, 46, 170, 0.4);
$base : #3c5474;
$htmlO: #e34c26;
$html: #f06529;
$cssO : #264de4;
$css : #2965f1;
$jsO : #F0DB4F;
$js : #F3E272;
$react : #61DBFB;
$background : hsla(0,0%,100%,.18);


$breakpoints:(
  sm:540px,
  md: 1024px,
  lg:1680px,
);
@mixin media-up($breakpoint) {
  @media screen and(min-width: map-get($map: $breakpoints, $key:$breakpoint )){
    @content
  }
};
@mixin contents{
  width: 80%;
  height: 75%;
  background: transparent;
  z-index: 100;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@font-face {
  font-family: 'Matrix';
  src: url('../../font/matrix.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

  