$primary :#451143;
$secondary : #161b41;
$base : rgba(240, 46, 170, 0.4);
$base : #3c5474;
$htmlO: #e34c26;
$html: #f06529;
$cssO : #264de4;
$css : #2965f1;
$jsO : #F0DB4F;
$js : #F3E272;
$react : #61DBFB;




$breakpoints:(
  sm:540px,
  md: 1024px,
  lg:1280px,
);
@mixin media-up($breakpoint) {
  @media screen and(min-width: map-get($map: $breakpoints, $key:$breakpoint )){
    @content
  }
}
@font-face {
  font-family: 'Matrix';
  src: url('../../font/matrix.ttf');
}